
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 128px;
  }
  

  .logo {
    margin-top: 30px;
    margin-bottom: 28px;
    width: 70px;
  }
  
  .nav {
    margin-top: 54px;
    margin-bottom: 48px;
  }
  
  .basket {
    position: relative;
    margin-top: 41px;
    margin-bottom: 39px;
    
  }
  
  .nav__list {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }

  .totalCount{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #393;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    text-align: center;
    color: white;
    font-size: 18px;


  }
  